.vscode
Makefile
Makefile.in
libtool
configure
build-aux
INSTALL
aclocal.m4
config.log
config.status
autom4te.cache
config.h
config.h.in
stamp-h1
ChangeLog
spectmorph.pc
spectmorphgui.pc
spectmorphglui.pc
html
latex
